.App {
  text-align: center;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background: rgba(41, 4, 4, 0.13);
}
nav img{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;

}
nav ul li a{
  text-decoration: none;
  text-transform: uppercase;
}
.repos{
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  margin-top: 50px;
}
.repos li a{
  padding: 20px;
  display: block;
  background: rgba(75, 36, 36, 0.226);
  margin-bottom: 10px;
}
a{
  text-decoration: none;
}
ul{
  list-style: none;
}
.paginate{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;

}
.paginate li{
  padding: 20px;
  background: rgb(243, 242, 242);
  margin: 0 10px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.repo{
  width: 50px;
}